@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'styles/shadcn-green-theme.css';

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
  h1 {
    @apply text-4xl font-bold sm:text-5xl;
  }

  h2 {
    @apply text-3xl font-bold sm:text-4xl;
  }

  h3 {
    @apply text-2xl font-bold sm:text-3xl;
  }

  h4 {
    @apply text-lg font-bold sm:text-xl;
  }

  h5 {
    @apply text-base font-bold sm:text-lg;
  }

  .wrapper {
    @apply mx-auto p-6 sm:p-8;
    max-width: 48rem;
  }
}

@layer components {
  /* common styles for Row and Tile */
  .board-gap-big {
    @apply gap-1.5 sm:gap-2;
  }

  .board-gap-small {
    @apply gap-0.5 sm:gap-1;
  }

  .board-gap-tiny {
    @apply gap-px sm:gap-0.5;
  }

  /* common styles for evaluation */
  .evaluation-correct {
    text-shadow: 0 1px 2px rgb(21 128 61 / var(--tw-bg-opacity));
    @apply bg-green-500 text-white;
    &.btn {
      @apply transition-colors hover:bg-green-500/90 active:bg-green-600;
    }
  }

  .evaluation-present {
    text-shadow: 0 1px 2px rgb(161 98 7 / var(--tw-bg-opacity));
    @apply bg-yellow-500 text-white;
    &.btn {
      @apply transition-colors hover:bg-yellow-500/90 active:bg-yellow-600;
    }
  }

  .evaluation-absent {
    text-shadow: 0 1px 2px rgb(51 65 85 / var(--tw-bg-opacity));
    @apply bg-slate-500 text-white;
    &.btn {
      @apply transition-colors hover:bg-slate-500/90 active:bg-slate-600;
    }
  }

  .evaluation-unevaluated {
    @apply bg-slate-300 text-black;
    &.btn {
      @apply transition-colors hover:bg-slate-300/90 active:bg-slate-400;
    }
  }

  .current .filled {
    animation: dip 0.1s;
  }

  .shake-unfilled .current .unfilled {
    animation: headShake 0.5s ease-in-out;
  }

  @keyframes headShake {
    0% {
      transform: translateX(0);
    }

    6.5% {
      transform: translateX(-6px) rotateY(-9deg);
    }

    18.5% {
      transform: translateX(5px) rotateY(7deg);
    }

    31.5% {
      transform: translateX(-3px) rotateY(-5deg);
    }

    43.5% {
      transform: translateX(2px) rotateY(3deg);
    }

    50% {
      transform: translateX(0);
    }
  }

  @keyframes dip {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(5px);
    }
  }
}
