@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'styles/shadcn-green-theme.css';

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
  h1 {
    @apply text-4xl font-bold sm:text-5xl;
  }

  h2 {
    @apply text-3xl font-bold sm:text-4xl;
  }

  h3 {
    @apply text-2xl font-bold sm:text-3xl;
  }

  h4 {
    @apply text-lg font-bold sm:text-xl;
  }

  h5 {
    @apply text-base font-bold sm:text-lg;
  }

  .wrapper {
    @apply mx-auto p-6 sm:p-8;
    max-width: 48rem;
  }
}

@layer components {
  /* common styles for Row and Tile */
  .board-gap-big {
    @apply gap-1.5 sm:gap-2;
  }

  .board-gap-small {
    @apply gap-0.5 sm:gap-1;
  }

  .board-gap-tiny {
    @apply gap-px sm:gap-0.5;
  }
}
