@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'styles/shadcn-green-theme.css';

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
  h1 {
    @apply text-4xl font-bold sm:text-5xl;
  }

  h2 {
    @apply text-3xl font-bold sm:text-4xl;
  }

  h3 {
    @apply text-2xl font-bold sm:text-3xl;
  }

  h4 {
    @apply text-lg font-bold sm:text-xl;
  }

  h5 {
    @apply text-base font-bold sm:text-lg;
  }

  .wrapper {
    @apply mx-auto p-6 sm:p-8;
    max-width: 48rem;
  }
}

@layer components {
  /* common styles for Row and Tile */
  .board-gap-big {
    @apply gap-1.5 sm:gap-2;
  }

  .board-gap-small {
    @apply gap-0.5 sm:gap-1;
  }

  .board-gap-tiny {
    @apply gap-px sm:gap-0.5;
  }

  /* common styles for evaluation */

  .evaluation-unevaluated {
    text-shadow: var(--ev-unevaluated-text-shadow);
    background-color: var(--ev-unevaluated-bg-color);
    color: var(--ev-unevaluated-text-color);
    &.btn {
      @apply transition-colors hover:bg-slate-300/90 active:bg-slate-400;
    }
  }
  .evaluation-correct {
    --ev-text-shadow: var(--ev-correct-text-shadow);
    --ev-bg-color: var(--ev-correct-bg-color);
    --ev-text-color: var(--ev-correct-text-color);
    &.btn {
      text-shadow: var(--ev-correct-text-shadow);
      background-color: var(--ev-correct-bg-color);
      color: var(--ev-correct-text-color);
      @apply transition-colors hover:bg-green-500/90 active:bg-green-600;
    }
  }

  .evaluation-present {
    --ev-text-shadow: var(--ev-present-text-shadow);
    --ev-bg-color: var(--ev-present-bg-color);
    --ev-text-color: var(--ev-present-text-color);
    &.btn {
      text-shadow: var(--ev-present-text-shadow);
      background-color: var(--ev-present-bg-color);
      color: var(--ev-present-text-color);
      @apply transition-colors hover:bg-yellow-500/90 active:bg-yellow-600;
    }
  }

  .evaluation-absent {
    --ev-text-shadow: var(--ev-absent-text-shadow);
    --ev-bg-color: var(--ev-absent-bg-color);
    --ev-text-color: var(--ev-absent-text-color);
    &.btn {
      text-shadow: var(--ev-absent-text-shadow);
      background-color: var(--ev-absent-bg-color);
      color: var(--ev-absent-text-color);
      @apply transition-colors hover:bg-slate-500/90 active:bg-slate-600;
    }
  }
  .evaluated {
    text-shadow: var(--ev-text-shadow);
    background-color: var(--ev-bg-color);
    color: var(--ev-text-color);
  }
  .animate-evaluation .evaluated {
    animation: revealEvaluation 0.5s;
    animation-delay: calc(var(--order) * 0.1s);
    animation-fill-mode: both;
  }

  .current .filled {
    animation: dip 0.1s;
  }

  .shake-unfilled .current .unfilled {
    animation: headShake 0.5s ease-in-out;
  }

  @keyframes headShake {
    0% {
      transform: translateX(0);
    }

    6.5% {
      transform: translateX(-6px) rotateY(-9deg);
    }

    18.5% {
      transform: translateX(5px) rotateY(7deg);
    }

    31.5% {
      transform: translateX(-3px) rotateY(-5deg);
    }

    43.5% {
      transform: translateX(2px) rotateY(3deg);
    }

    50% {
      transform: translateX(0);
    }
  }

  @keyframes dip {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(5px);
    }
  }

  @keyframes revealEvaluation {
    0% {
      transform: rotateY(0);
      text-shadow: var(--ev-unevaluated-text-shadow);
      background-color: var(--ev-unevaluated-bg-color);
      color: var(--ev-unevaluated-text-color);
    }
    45% {
      transform: rotateY(90deg);
      text-shadow: var(--ev-unevaluated-text-shadow);
      background-color: var(--ev-unevaluated-bg-color);
      color: var(--ev-unevaluated-text-color);
    }
    55% {
      transform: rotateY(90deg);
      text-shadow: var(--ev-text-shadow);
      background-color: var(--ev-bg-color);
      color: var(--ev-text-color);
    }
    100% {
      transform: rotateY(0);
      text-shadow: var(--ev-text-shadow);
      background-color: var(--ev-bg-color);
      color: var(--ev-text-color);
    }
  }
}
